rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Allows anyone to read and write, but removes the expiration date
      // Use this if you don't have a login system set up yet
      allow read, write: if true;
    }
  }
}
